# Required for the default notebook model settings
OPENAI_API_KEY=""

# Required when using Claude/Anthropic models
ANTHROPIC_API_KEY=""

# Google API Key for accessing Google's generative AI services (e.g., Gemini models)
# Potential models to try in free tier
#    - gemini-2.5-flash-lite
#    - gemini-2.5-flash
#    - gemini-2.5-pro
#    - gemini-3.1-flash-lite-preview
#    - gemini-3-flash-preview
#    - gemini-flash-latest
GOOGLE_API_KEY=""

# Groq API Key for accessing Groq's fast inference API for various LLM models
# Potential models to try in free tier
#    - openai/gpt-oss-120b
#    - qwen/qwen3-32b
#    - llama-3.3-70b-versatile
#    - openai/gpt-oss-20b
#    - llama-3.1-8b-instant
#    ----- Groq also has free audio to text models : 
#        - whisper-large-v3
#        - whisper-large-v3-turbo
GROQ_API_KEY=""

# OpenRouter API Key for accessing OpenRouter-hosted models through the OpenAI-compatible API
# Potential models to try in open-router free tier
#    - openrouter/free
#    - qwen/qwen3-coder-480b-a35b-instruct:free
#    - qwen/qwen3.6-plus:free
#    - google/gemma-3:free
#    - nvidia/nemotron-3-super:free
#    - arcee-ai/trinity-large-preview:free
#    - deepseek/deepseek-v3:free
#    - deepseek/deepseek-r1:free
#    - nvidia/nemotron-3-nano-30b:free
OPENROUTER_API_KEY=""


# LangSmith env vars to enable tracing
LANGSMITH_TRACING_V2 = "true"
LANGSMITH_ENDPOINT = "https://api.smith.langchain.com"
LANGSMITH_API_KEY = "key here"
LANGSMITH_PROJECT = "Streamlit UI chatbot"
TAVILY_API_KEY = ""
